@import "border-radius";

$post-input-brad: 5px;
$post-input-width: 100%;
$post-text-height: 200px;
$common-padding: 5px;

.form-error-message {
  background-color: red;
  color: white;
  @include border-radius(3px);
  padding: 3px;
}

.form-error.hidden {
  display: none;
}

.flex-container-form {
  /*TODO: make it browser compatible*/
  display: flex;
  width: 40%;
}

.flex-item-form {
  /*TODO: make it browser compatible*/
  flex: 1;
  padding-bottom: 10px;
}

.login-form {
  background-color: tan;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  @include border-radius(5px);

  input, label {
    display: block;
    width: 100%;
    font-size: 20px;
  }

  input {
    border: 0;
    margin-bottom: 10px;
    padding: 5px 0 5px 0;
    @include border-radius(5px);
  }

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  $shadow-offset: 3px;

  input[type=submit] {
    width: 150px;
    height: 35px;
    margin: 0 auto;
    box-shadow: $shadow-offset $shadow-offset 8px black;
    @include border-radius(5px);
    outline: 0;
    background-color: wheat;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;

    &:hover {
      box-shadow: $shadow-offset $shadow-offset 15px black;
    }

    &:active {
      transform: translate($shadow-offset, $shadow-offset);
      box-shadow: none;
    }
  }
}

.admin-post-title {
  padding: $common-padding;

  a {
    color: blue;
    text-decoration: none;
    &:hover {
      color: darkblue;
    }
  }
}

.post-edit {
  textarea {
    height: $post-text-height;
    @include border-radius($post-input-brad);
    padding: 0;
    margin: 0;
    border: 0;
  }

  input, label, textarea, select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
  }

  textarea {
    font-size: 14px;
  }

  label {
    margin-bottom: 3px;
    font-weight: bold;
  }

  input[type=text] {
    border: 0;
    @include border-radius($post-input-brad);
  }

  input[type=submit] {
    @include border-radius($post-input-brad);
    background-color: blue;
    color: white;
    width: 130px;
    height: 30px;
    /*TODO: make it browser compatible*/
    text-shadow: 4px 4px 8px black;
    border: none;
    cursor: pointer;
    /*no focus*/
    /*TODO: make it browser compatible*/
    outline: 0 none;
    box-shadow: 5px 5px 8px black;

    &:hover {
      /*TODO: make it browser compatible*/
      box-shadow: 6px 6px 8px black;
      /*TODO: make it browser compatible*/
      text-shadow: 6px 6px 8px black;
      background-color: #0040D0;
    }

    &:active {
      box-shadow: 3px 3px 8px black;
      transform: translate(5px, 5px);
    }
  }

  select {
    border: 0;
  }
}

.admin-registered {
  & div:first-child {
    font-weight: bold;
    margin-bottom: 5px;
  }

  a {
    color: blue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
