@import "border-radius";

$bar-height: 3em;
$center-ver-percent: 50%;
$content-width: 960px;
$main-content-vert-space: 3.5em;

.header-footer-common {
  width: 100%;
  height: $bar-height;
  text-align: center;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

header {
  position: fixed;
  top: 0;
  @extend .header-footer-common;
  color: white;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

footer.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  @extend .header-footer-common;
  background-color: snow;
}

.center-vert {
  position: relative;
  top: $center-ver-percent;
  transform: translateY(-$center-ver-percent);
}

main {
  width: $content-width;
  height: 100%;
  margin: $main-content-vert-space auto 0;
  padding-bottom: $main-content-vert-space;
}

.header-button {
  color: white;
  text-decoration: none;
  width: 50px;
  height: 50px;
  padding: 10px;
  text-shadow: 2px 2px black;
}

.header-button:hover {
  background-color: black;
  @include border-radius(8px);
}
