@import "border-radius";

.posts {
  float: left;
  width: 680px;
  height: 100%;
  padding: 1em;
  background-color: beige;
  border-radius: 10px;

  article {
    margin-bottom: 20px;
  }
}

.post-title {
  font-weight: bold;
  font-size: 2em;

  a {
    color: black;
    text-decoration: none;
  }
}

.post-info {
  border: 1px solid white;
  @include border-radius(5px);
  margin: 5px;
  padding: 3px;
  background-color: lightblue;
  font-size: small;

  a {
    text-decoration: none;
    color: #0040D0;
  }

  a:hover {
    color: cadetblue;
  }
}

.post-text {
  text-align: justify;
}
