@mixin display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin set-flex($flex) {
  -webkit-box-flex: $flex;
  -moz-box-flex: $flex;
  -webkit-flex: $flex;
  -ms-flex: $flex;
  flex: $flex;
}

.right-menu {
  float: right;
  width: 200px;
  height: 100%;
  padding: 1em;
  background-color: cornsilk;
  border-radius: 10px;
}

.menu-title {
  font-weight: bold;
}

.menu-block {
  ul {
    list-style-type: none;
    padding-left: 10px;

    li {
      margin-bottom: 10px;
    }
  }

  a {
    text-decoration: none;
    color: cornflowerblue;
  }

  a:hover {
    color: lightskyblue;
  }
}

.tags {
  margin: 1em;
}

.flex-container {
  @include display-flex;
}

.flex-item-arrow {
  @include set-flex(1);
}

.flex-item-title {
  @include set-flex(9);
}

.cleardiv {
  clear: both;
}
